.cardBox{
    align-items: center;
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 10px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 10px rgba(7, 88, 238, 0.017));
    background-color: rgb(241, 235, 235);
    height: 150px;
    width: 25%;
}
.barContainer{
    height: 20px;
    width: 100px;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 50px;

}
.barFilling{
    height: 100%;
    border-radius: inherit;
    text-align: right;
}

.barText{
    padding: 5;
    color: white;
    font-weight: bold;
}